fotos/*
!fotos/fotosLegajosPagares/
fotos/fotosLegajosPagares/*
!fotos/fotosLegajosPagares/.htaccess
archivos/cierres_caja/
php/conexion.php
php_system/conexion.php
*.pdf
*.gz
/archivoscheque
archivox/
/backup_db_local/
/deploy/production/.env

.vscode/
php_system/conexion.php
