TELAR_BIND_IP=10.220.100.201
TELAR_HTTP_PORT=8080
TELAR_PHP_VERSION=8.5.9
TELAR_DB_NAME=syscvxco_ac
TELAR_DB_USER=telar_app
TELAR_DB_PASSWORD=CAMBIAR_POR_UNA_CLAVE_LARGA
TELAR_DB_ROOT_PASSWORD=CAMBIAR_POR_OTRA_CLAVE_LARGA
TELAR_ISSABEL_DB_HOST=10.220.100.230
TELAR_ISSABEL_DB_PORT=3306
TELAR_ISSABEL_DB_NAME=asteriskcdrdb
TELAR_ISSABEL_CDR_TABLE=cdr
TELAR_ISSABEL_DB_USER=telar_cdr_readonly
TELAR_ISSABEL_DB_PASSWORD=CAMBIAR_POR_CLAVE_CDR_SOLO_LECTURA
TELAR_ISSABEL_DIRECTORY_ENABLED=false
TELAR_ISSABEL_DIRECTORY_DB_HOST=10.220.100.230
TELAR_ISSABEL_DIRECTORY_DB_PORT=3306
TELAR_ISSABEL_DIRECTORY_DB_NAME=asterisk
TELAR_ISSABEL_DIRECTORY_DB_USER=telar_directory_readonly
TELAR_ISSABEL_DIRECTORY_DB_PASSWORD=CAMBIAR_POR_CLAVE_DIRECTORIO_SOLO_LECTURA
TELAR_ISSABEL_DIRECTORY_USERS_TABLE=users
TELAR_ISSABEL_DIRECTORY_DEVICES_TABLE=devices
TELAR_ISSABEL_DIRECTORY_QUEUES_TABLE=queues_config
TELAR_ISSABEL_AMI_HOST=10.220.100.230
TELAR_ISSABEL_AMI_PORT=5038
TELAR_ISSABEL_AMI_EVENT_USER=telar_eventos
TELAR_ISSABEL_AMI_ORIGINATE_USER=telar_origenacion
TELAR_ISSABEL_AMI_CHANNEL_TEMPLATE=Local/{extension}@from-internal/n
TELAR_ISSABEL_AMI_OUTBOUND_CONTEXT=from-internal
TELAR_ISSABEL_AMI_NUMBER_MODE=local
TELAR_GOHIGHLEVEL_API_BASE=https://services.leadconnectorhq.com
TELAR_GOHIGHLEVEL_API_VERSION=2021-07-28
TELAR_GOHIGHLEVEL_LOCATION_ID=CAMBIAR_POR_LOCATION_ID
