TELAR_BIND_IP=10.220.100.201
TELAR_HTTP_PORT=8080
TELAR_PHP_VERSION=8.5.9
TELAR_DB_NAME=syscvxco_ac
TELAR_DB_USER=telar_app
TELAR_DB_PASSWORD=CAMBIAR_POR_UNA_CLAVE_LARGA
TELAR_DB_ROOT_PASSWORD=CAMBIAR_POR_OTRA_CLAVE_LARGA
