[mariadb]
innodb_buffer_pool_size=2G
innodb_buffer_pool_instances=2
innodb_log_file_size=256M
tmp_table_size=64M
max_heap_table_size=64M
slow_query_log=ON
slow_query_log_file=/var/lib/mysql/telar-slow.log
long_query_time=1
log_queries_not_using_indexes=OFF
